 <div
      class="concert-card"
      (click)="concertClick.emit(concert())"
      (keyup.enter)="concertClick.emit(concert())"
      (keyup.space)="concertClick.emit(concert())"
      [class.out-of-stock]="concert().statut"
      tabindex="0"
      role="button"
      [attr.aria-label]="'View details for ' + concert().titre"
    >
   <div class="concert-image">
     <img [src]="concert().imageUrl" [alt]="concert().titre" />
     @if (!concert().inStock) {
       <div class="out-of-stock-overlay">Out of Stock</div>
     }
   </div>
    <div class="concert-info">
      <h3 class="concert-name">{{ concert().titre }}</h3>
      <p><strong>Artiste:</strong> {{ concert().artiste }}</p>
      <p><strong>Ville:</strong> {{ concert().ville }}</p>
      <p><strong>Lieu:</strong> {{ concert().lieu }}</p>
      <p><strong>Date:</strong> {{ concert().date | date:'dd/MM/yyyy'}}</p>
      <p><strong>Prix:</strong> {{ concert().prix }} €</p>
      <p><strong>Genre:</strong> {{ concert().genre }}</p>
    </div>
  </div>
