<header class="app-header">
  <div class="container">
    <h1 routerLink="/concerts">{{ title }}</h1>
    <div class="btn-container">
    <nav>
      <a routerLink="/concerts" routerLinkActive="active">Home</a>
    </nav>

    @if (authService.isLoggedIn()) {
      <div class="login-info">
        <span class="opacity-80">Hello, {{ authService.currentUser()?.email }}</span>
        <p-button (click)="authService.logout()" label="Logout" icon="pi pi-sign-out" severity="danger" />
      </div>
      <nav>
        <a routerLink="/cart" routerLinkActive="active">My Cart</a>
      </nav>
    } @else {
      <nav>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </nav>
    }
    </div>
  </div>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <div class="container">
    <p>© 2026 Concert-ticketing Shop Demo - Author: QuocTuan & Kelly</p>
    <p>Frontend (Angular) + Backend (Java) + Shared Libraries</p>
  </div>
</footer>
